.header img{
  height: 50px;
  width: 50px;
  margin: 5px;
}

.header{
  background-color: blue;
}

.header h1{
  color: white;
}

.navbar{
  background-color: blue;
  color: white;
}

.navbar ul{
  list-style:none;
  padding: 15px;
}

.navbar li{
  display: inline;
}

.navbar a{
  color: white;
  text-decoration: none;
  margin: 10px;
}

.navbar a:hover{
  color: coral;
}

a.active{
  color: coral;
}

.footer{
  background-color: blue;
  padding: 50px;
  margin: 0;
  color: white;
  text-align: center;
}