.header img{
  height: 50px;
  width: 50px;
  margin: 5px;
}

.clr{
  clear: float;
}

.header{
  background-color: blue;
}

.header h1{
  color: white;
}

.navbar{
  background-color: blue;
  color: white;
}

.navbar ul{
  list-style:none;
  padding: 15px;
}

.navbar li{
  display: inline;
}

.navbar a{
  color: white;
  text-decoration: none;
  margin: 10px;
}

.navbar a:hover{
  color: coral;
}

a.active{
  color: coral;
}

.dogs{
  float: left;
  width: 25%;
}

.dogs img{
  height: 275px;
  width: 183px;
}

.body h1{
  text-align: center;
}